<form
    class="form-horizontal"
    autocomplete="off"
    [formGroup]="voucherForm"
    (ngSubmit)="save()"
>
    <abp-modal-header
        [title]="'CreateNewVoucher' | localize"
        (onCloseClick)="bsModalRef.hide()"
    ></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">
              {{ "VoucherName" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                minlength="2"
                maxlength="64"
                required
                formControlName="name"
              />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="code">
              {{ "VoucherCode" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="code"
                id="code"
                minlength="1"
                maxlength="4"
                required
                formControlName="code"
                style="text-transform:uppercase;"
              />
            </div>
            <div class="col-md-3">

            </div>
            <label class="col-md-9" style="color: crimson;" *ngIf="codeExist"> 
              {{ "CodeAlreadyExist" | localize}}
            </label>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="minimum">
              {{ "VoucherMinAmount" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="minimum"
                id="minimum"
                minlength="1"
                maxlength="64"
                required
                formControlName="minimum"
              />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="desc">
              {{ "VoucherDesc" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="desc"
                id="desc"
                minlength="1"
                maxlength="128"
                required
                formControlName="desc"
              />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="startDate">
              {{ "VoucherStartDate" | localize }}
            </label>
            <div class="col-md-9">
                <input
                #datepicker1="ngbDatepicker"
                class="form-control"
                name="startDate"
                id="startDate"
                formControlName="startDate"
                ngbDatepicker
                (click)="datepicker1.toggle()"
                (dateSelect)="onDateSelect1($event)"
              />
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="endDate">
            {{ "VoucherEndDate" | localize }}
          </label>
          <div class="col-md-9">
              <input
              #datepicker2="ngbDatepicker"
              class="form-control"
              name="endDate"
              id="endDate"
              formControlName="endDate"
              ngbDatepicker
              (click)="datepicker2.toggle()"
              (dateSelect)="onDateSelect2($event)"
            />
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="enable">
          {{ "VoucherEnabled" | localize }}
        </label>
        <div class="col-md-9">
            <input
            type="checkbox"
            name="enable"
            id="enable"
            required
            formControlName="enable"
          />
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="limit">
          {{ "VoucherLimit" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="limit"
            id="limit"
            minlength="1"
            maxlength="4"
            required
            formControlName="limit"
          />
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="type">
          {{ "VoucherType" | localize }}
        </label>
        <div class="col-md-9">
          <select
            class="form-control" 
            name="type" 
            id="type"
            required
            formControlName="type"
            (change)="voucherType($event)" 
            >
            <option value="0">{{ "PleaseSelectOne" | localize }}</option>
            <option value="discount">{{ "AmountDiscount" | localize }}</option>
            <option value="gift">{{ "FreeGift" | localize }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row required" [hidden]="xFreeGift">
        <label class="col-md-3 col-form-label" for="discountAmount">
          {{ "VoucherDiscountAmount" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="discountAmount"
            id="discountAmount"
            minlength="1"
            maxlength="128"
            required
            formControlName="discountAmount"
          />
        </div>
      </div>
      <div class="form-group row required" [hidden]="xDiscount">
        <label class="col-md-3 col-form-label" for="principal">
          {{ "VoucherPrincipal" | localize }}
        </label>
        <div class="col-md-9">
          <select
            class="form-control" 
            name="principal" 
            id="principal"
            required
            formControlName="principal" 
            (change)="selectedPrincipal($event)"
            >
            <option value="0">{{ "PleaseSelectOne" | localize }}</option>
            <option value="{{prin.id}}" *ngFor="let prin of principal">{{ prin.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row required" [hidden]="xDiscount">
        <label class="col-md-3 col-form-label" for="addon">
          {{ "VoucherAddOn" | localize }}
        </label>
        <div class="col-md-9">
          <select
            class="form-control" 
            name="addon" 
            id="addon"
            required
            formControlName="addon" 
            >
            <option value="0">{{ "PleaseSelectOne" | localize }}</option>
            <option value="{{add.id}}" *ngFor="let add of addon">{{ add.addonname }}</option>
          </select>
        </div>
      </div>
    </div>
    <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!voucherForm.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
     ></abp-modal-footer>
</form>