<form
  class="form-horizontal"
  autocomplete="off"
  [formGroup] ="principalForm"
  (ngSubmit)="save()"
  *ngIf="editCustomerPrincipalVisible"
>
  <abp-modal-header
    [title]="'EditCustomerPrincipal' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="name">
          {{ "PrincipalName" | localize }}
        </label>
        <div class="col-md-7">
            <select
              class="form-control" 
              name="name" 
              id="name"
              required
              formControlName="name" 
              (change)="selectedPrincipal($event)"
              >
              <option value="0">{{ "PleaseSelectOne" | localize }}</option>
              <option value="{{prin.id}}" *ngFor="let prin of customerPrincipal">{{ prin.name }}</option>
            </select>
        </div>
        <div class="col-md-2 btn btn-danger" [hidden]="deleteDisabled">
          <a (click)="removePrincipal()" style="cursor: pointer">
              Delete
          </a>
      </div>
    </div>
    <div class="form-group row required" [hidden]="deleteDisabled">
      <label class="col-md-3 col-form-label" for="prindesc">
        {{ "PrincipalDescription" | localize }}
      </label>
      <div class="col-md-9">
          <textarea 
          class="form-control"
          name="prindesc"
          id="prindesc"
          minlength="1"
          maxlength="586"
          required
          formControlName="prindesc"
          rows="4" 
          cols="50">
          </textarea>
      </div>
    </div>
    <div class="form-group row required" [hidden]="deleteDisabled">
        <label class="col-md-3 col-form-label" for="premium">
          {{ "PremiumAmount" | localize }}
        </label>
        <div class="col-md-9">
            <input
            type="text"
            class="form-control"
            name="premium"
            id="premium"
            minlength="1"
            maxlength="128"
            required
            formControlName="premium"
            />
        </div>
    </div>
    <div formArrayName="addOns">
        <div class="col-md-9" *ngFor="let ao of tempaddonChecked; let i=index">
            <input
            type="checkbox"
            name="addOnCheckBox"
            id="addOnCheckBox"
            (change)="toggleAddOn($event, i)"
            [checked]="ao.checked"
            />&nbsp;&nbsp;&nbsp;<strong style="font-size: 1.25rem; padding-top: 3rem;"><u>{{ ao.addonname }}</u></strong>
    
            <div *ngIf="ao.checked" [formGroupName]="i">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="addonname">
                      {{ "AddOnName" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input
                        type="text"
                        class="form-control"
                        name="addonname"
                        id="addonname"
                        minlength="1"
                        maxlength="128"
                        required
                        formControlName="addonname"
                        />
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="desc">
                      {{ "AddOnDesc" | localize }}
                    </label>
                    <div class="col-md-9">
                      <textarea 
                      class="form-control"
                      name="desc"
                      id="desc"
                      minlength="1"
                      maxlength="586"
                      required
                      formControlName="desc"
                      rows="4" 
                      cols="50">
                      </textarea>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="price">
                      {{ "AddOnPrice" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input
                        type="text"
                        class="form-control"
                        name="price"
                        id="price"
                        minlength="1"
                        maxlength="128"
                        required
                        formControlName="price"
                        />
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!principalForm.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
