<form
  class="form-horizontal"
  autocomplete="off"
  [formGroup] ="principalForm"
  (ngSubmit)="save()"
  *ngIf="isLoaded"
>
  <abp-modal-header
    [title]="'CreateNewPrincipal' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="vehicletype">
        {{ "Type" | localize }}
      </label>
      <div class="col-md-9">
        <select
          class="form-control"
          name="vehicletype"
          id="vehicletype"
          required
          formControlName="vehicletype"
        >
          <option value="">Please Select A Type</option>
          <option value="Comprehensive Car">Comprehensive Car</option>
          <option value="Third Party Fire & Theft Car">Third Party Fire & Theft Car</option>
          <option value="Comprehensive Motorcycle">Comprehensive Motorcycle</option>
          <option value="Third Party Fire & Theft Motorcycle">Third Party Motorcycle</option>
        </select>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "PrincipalName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          minlength="2"
          maxlength="64"
          required
          formControlName="name"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="desc">
        {{ "PrincipalDesc" | localize }}
      </label>
      <div class="col-md-9">
        <textarea
          class="form-control"
          name="desc"
          id="desc"
          minlength="1"
          maxlength="586"
          required
          formControlName="desc"
          rows="4"
          cols="50">
          </textarea>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="imagelink">
        {{ "PrincipalLogo" | localize }}
      </label>
      <div class="col-md-9 imgContainer">
        <div class="inner" *ngFor="let links of logoLinks;">
          <input type="radio" id="{{links.id}}" name="imagelink" value="{{links.link}}" (click)="selectedLogo(links)" style="margin-right: 5px">
          <img class="logoImg" for="{{links.id}}" src="{{links.link}}" alt="{{links.link}}" style="margin-right: 5px">
        </div>
      </div>
    </div>
    <div formArrayName="addOns">
        <div
            *ngFor="let addon of principalForm.controls.addOns['controls'];
                    let i=index">
            <div [formGroupName]="i">
                <div class="form-group row required" >
                    <label class="col-md-3 col-form-label" for="addonname">
                        {{ "AddOn" | localize }} {{i + 1}}
                    </label>
                    <div class="col-md-7">
                      <input
                        type="text"
                        class="form-control"
                        name="addonname"
                        id="addonname"
                        minlength="2"
                        maxlength="64"
                        required
                        formControlName="addonname"
                      />
                    </div>
                    <div class="col-md-2 btn btn-danger">
                        <a (click)="removeAddOn(i)" style="cursor: pointer">
                            Remove
                        </a>
                    </div>
                </div>
                <div class="form-group row required" >
                  <label class="col-md-3 col-form-label" for="desc">
                      {{ "Description" | localize }} {{i + 1}}
                  </label>
                  <div class="col-md-7">
                    <textarea
                    class="form-control"
                    name="desc"
                    id="desc"
                    minlength="1"
                    maxlength="586"
                    required
                    formControlName="desc"
                    rows="4"
                    cols="50">
                    </textarea>
                  </div>
                </div>
                <div class="form-group row required" >
                  <label class="col-md-3 col-form-label" for="price">
                      {{ "Price" | localize }} {{i + 1}}
                  </label>
                  <div class="col-md-7">
                    <input
                      type="number"
                      class="form-control"
                      name="price"
                      id="price"
                      minlength="2"
                      maxlength="64"
                      required
                      formControlName="price"
                    />
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="btn btn-info" [hidden]="addoncount == 15">
        <a (click)="addAddOn()" style="cursor: pointer">
            + Add On
        </a>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!principalForm.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
