<form
  class="form-horizontal"
  autocomplete="off"
  [formGroup] ="packageForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewPackage' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="ownerName">
        {{ "OwnerName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="ownerName"
          id="ownerName"
          minlength="2"
          maxlength="64"
          required
          formControlName="ownerName"
        />
      </div>
    </div>
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="ownerNRIC">
          {{ "OwnerNRIC" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="ownerNRIC"
            id="ownerNRIC"
            minlength="5"
            maxlength="12"
            placeholder="123456001234"
            required
            formControlName="ownerNRIC"
          />
        </div>
    </div>
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="ownerEmail">
          {{ "OwnerEmail" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="email"
            class="form-control"
            name="ownerEmail"
            id="ownerEmail"
            minlength="2"
            maxlength="64"
            placeholder="example@example.com"
            required
            formControlName="ownerEmail"
          />
        </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="ownerPhoneNo">
        {{ "OwnerPhoneNo" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="ownerPhoneNo"
          id="ownerPhoneNo"
          minlength="1"
          maxlength="13"
          placeholder="60123456789"
          required
          formControlName="ownerPhoneNo"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="vehicleRegNo">
        {{ "VehicleRegNo" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="vehicleRegNo"
          id="vehicleRegNo"
          minlength="1"
          maxlength="10"
          required
          formControlName="vehicleRegNo"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="coverType">
        {{ "CoverType" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="coverType"
          id="coverType"
          minlength="2"
          maxlength="64"
          required
          formControlName="coverType"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="policyPeriod">
        {{ "PolicyPeriod" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="policyPeriod"
          id="policyPeriod"
          minlength="1"
          maxlength="125"
          required
          formControlName="policyPeriod"
        />
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!packageForm.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
