<form
  class="form-horizontal"
  autocomplete="off"
  [formGroup] ="packageForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewPackage' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="ownerName">
        {{ "OwnerName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="ownerName"
          id="ownerName"
          minlength="2"
          maxlength="64"
          required
          formControlName="ownerName"
        />
      </div>
    </div>
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="ownerNRIC">
          {{ "OwnerNRIC" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="ownerNRIC"
            id="ownerNRIC"
            minlength="5"
            maxlength="12"
            placeholder="123456001234"
            required
            formControlName="ownerNRIC"
          />
        </div>
    </div>
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="ownerEmail">
          {{ "OwnerEmail" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="email"
            class="form-control"
            name="ownerEmail"
            id="ownerEmail"
            minlength="2"
            maxlength="64"
            placeholder="example@example.com"
            required
            formControlName="ownerEmail"
          />
        </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="ownerPhoneNo">
        {{ "OwnerPhoneNo" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="ownerPhoneNo"
          id="ownerPhoneNo"
          minlength="1"
          maxlength="13"
          placeholder="60123456789"
          required
          formControlName="ownerPhoneNo"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="vehicleModel">
        {{ "VehicleModel" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="vehicleModel"
          id="vehicleModel"
          minlength="2"
          maxlength="64"
          required
          formControlName="vehicleModel"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="vehicleRegNo">
        {{ "VehicleRegNo" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="vehicleRegNo"
          id="vehicleRegNo"
          minlength="1"
          maxlength="10"
          required
          formControlName="vehicleRegNo"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="vehicleYear">
        {{ "VehicleYear" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="vehicleYear"
          id="vehicleYear"
          minlength="4"
          maxlength="4"
          required
          formControlName="vehicleYear"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="coverType">
        {{ "CoverType" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="coverType"
          id="coverType"
          minlength="2"
          maxlength="64"
          required
          formControlName="coverType"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="coveragePeriod">
        {{ "CoveragePeriod" | localize }}
      </label>
      <div class="col-md-7">
        <input
          type="text"
          class="form-control"
          name="coveragePeriod"
          id="coveragePeriod"
          minlength="1"
          maxlength="2"
          required
          formControlName="coveragePeriod"
        />
      </div>
      <div class="col-md-2">
        <h6 style="padding-top: 0.6rem; font-weight: 10; font-style: italic;">
          {{ "Months" | localize }}
        </h6>
      </div>
    </div>
    <!-- <div formArrayName="Principals">
        <div 
            *ngFor="let principal of packageForm.controls.Principals['controls']; 
                    let i=index">
            <div [formGroupName]="i">
                <div class="form-group row required" [hidden]="addedPrincipal">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "Principal" | localize }} {{i + 1}}
                    </label>
                    <select
                      class="form-control col-md-7" 
                      name="name" 
                      id="name"
                      required
                      formControlName="name" 
                      (change)="selectedPrincipal($event)"
                      >
                      <option value="0">{{ "PleaseSelectOne" | localize }}</option>
                      <option value="{{prin.id}}" *ngFor="let prin of principal1">{{ prin.name }}</option>
                    </select>
                    <div class="col-md-2">
                        <a class="btn btn-danger" (click)="removePrincipal(i)" style="cursor: pointer">
                            Remove
                        </a>
                    </div>
                </div>
                <div class="form-group row required" *ngIf="addedPrincipal1">
                  <div class="col-md-9" *ngFor="let ao of principal1.addOns">
                    <input
                    type="checkbox"
                    name="addOnCheckBox"
                    id="addOnCheckBox"
                    />   {{ ao.addonname }}
                  </div>                                     
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="btn btn-info" [hidden]="addoncount >= 4">
        <a (click)="addAddOn()" style="cursor: pointer">
            + Add On
        </a>
    </div> -->
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!packageForm.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
